body{
  width:100%!important;
  overflow: hidden;
  height:100%!important;
  margin: 0 auto;
  padding:0;
  font-family: Verdana,Geneva,sans-serif;
  background: linear-gradient(#292429, #242435);
  color: #FFF;
}
#mainAreaWrapper {
  background: linear-gradient(#292429, #242435);
  display: flex;
  flex-direction: row;
}
#loading_div {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left:0px;
  background: #242429;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
}
#treeView {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 12px;
  border: 1px hidden #FFF;
  background: linear-gradient(#292429, #242435);
  border-right: 3px solid #181c24;
  color: #46b846;
  outline: none;
  line-height: 25px;
  resize: none;
  border: none;
  overflow: hidden;
  position: absolute;
  top: 0px;
  outline: 3px solid #181c24;
}
.nodeElement {
  border-bottom: 1px solid #181c24;
  border-right: 1px solid #181c24;
  text-align: left;
  padding: 2px;
  padding-left: 10px;
}
.nodeElement-focus {
  background: #243439;
}
.nodeElement:hover {
  background: #243439;
}
.nodeElement::selection {
  background: #0000;
}
#topBar {
  position: fixed;
  background: linear-gradient(to right, #292429, #242435, #292429);
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid #181c24;
  align-items: center;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 12px;
  color: #46b846;
}
.barElement {
  border-bottom: 1px solid #181c24;
  border-right: 1px solid #181c24;
  text-align: center;
  padding: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.barElement-focus {
  background: #243439;
}
.barElement:hover {
  background: #243439;
}
.barElement::selection {
  background: #0000;
}
.closingButton {
  width: 15px;
  margin-left: 10px;
}
.closingButton:hover {
  background: #243479;
}

.xterm-text-layer {
z-index: 101!important;
}
.xterm-viewport {
overflow: hidden!important;
}
.xterm-selection-layer {
z-index: 102!important;
}
.xterm-link-layer {
z-index: 103!important;
}
.xterm-cursor-layer {
z-index: 104!important;
}

#bluringTA {
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: #0000;
  background: #0000;
  outline: none;
  line-height: 25px;
  resize: none;
  border: none;
  overflow: hidden;
}
a {
  color: white;
}
