body{
  width:100%!important;
  overflow: hidden;
  height:100%!important;
  margin: 0 auto;
  padding:0;
  font-family: Verdana,Geneva,sans-serif;
  background: linear-gradient(#292429, #242435);
  color: #FFF;
}
#mainAreaWrapper {
  display: flex;
  flex-direction: row;
}
#loading_div {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left:0px;
  background: #242429;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
}
#treeView {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 12px;
  border: 1px hidden #FFF;
  background: linear-gradient(#292429, #242435);
  color: #46b846;
  outline: none;
  line-height: 25px;
  resize: none;
  border: none;
  overflow: hidden;
  height: 100%;
  position: absolute;
  top: 0px;

}
.nodeElement {
  border-bottom: 1px solid #444;
  border-right: 1px solid #444;
  text-align: left;
  padding: 2px;
  padding-left: 10px;
}
.nodeElement-focus {
  background: #243439;
}
#bluringTA {
  position: fixed;
  bottom: 0px;
  right: 0px;
  color: #0000;
  background: #0000;
  outline: none;
  line-height: 25px;
  resize: none;
  border: none;
  overflow: hidden;
}
.nodeElement:hover {
  background: #243439;
}
.nodeElement::selection {
  background: #0000;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #46b846;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a {
  color: white;
}
