/* Based on Sublime Text's Monokai theme */

.cm-s-monokai.CodeMirror {
  background: linear-gradient(#292429, #242435, #292429);
  color: #66b866;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
}

.cm-s-monokai div.CodeMirror-selected {
  background: linear-gradient(to right, #f548, #45f8);
  border-radius: 5px;
}

.cm-s-monokai .CodeMirror-line::selection, .cm-s-monokai .CodeMirror-line > span::selection, .cm-s-monokai .CodeMirror-line > span > span::selection {
  background: linear-gradient(to right, #f54, #45f);
  border-radius: 5px;
}

.cm-s-monokai .CodeMirror-gutters {
  background: linear-gradient(#292429, #242435, #292429);
  border-right: 1px solid #2d692d;
}

.cm-s-monokai .CodeMirror-guttermarker {
  color: #46b846;
}

.cm-s-monokai .CodeMirror-guttermarker-subtle {
  color: #46b846;
}

.cm-s-monokai .CodeMirror-linenumber {
  color: #46b846;
}

.cm-s-monokai .CodeMirror-cursor {
  border-left: 1px solid #46b846;
}

.cm-s-monokai span.cm-comment {
  color: #75715e;
}

.cm-s-monokai span.cm-atom {
  color: #ae81ff;
}

.cm-s-monokai span.cm-number {
  color: #8e75cc;
}

.cm-s-monokai span.cm-comment.cm-attribute {
  color: #457;
}

.cm-s-monokai span.cm-comment.cm-def {
  color: #bc9262;
}

.cm-s-monokai span.cm-comment.cm-tag {
  color: #bc6283;
}

.cm-s-monokai span.cm-comment.cm-type {
  color: #5998a6;
}

.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute {
  color: #59f;
}

.cm-s-monokai span.cm-keyword {
  color: #fc0;
}

.cm-s-monokai span.cm-builtin {
  color: #66d9ef;
}

.cm-s-monokai span.cm-string {
  color: #a0f;
}

.cm-s-monokai span.cm-variable {
  color: #fff;
}

.cm-s-monokai span.cm-variable-2 {
  color: #fff;
}

.cm-s-monokai span.cm-variable-3, .cm-s-monokai span.cm-type {
  color: #66d9ef;
}

.cm-s-monokai span.cm-def {
  color: #0f0d;
}

.cm-s-monokai span.cm-operator {
  color: #f68;
}

.cm-s-monokai span.cm-bracket {
  color: #f8f8f2;
}

.cm-s-monokai span.cm-tag {
  color: #f92672;
}

.cm-s-monokai span.cm-header {
  color: #ae81ff;
}

.cm-s-monokai span.cm-link {
  color: #ae81ff;
}

.cm-s-monokai span.cm-error {
  background: #800;
  color: #f8f8f0;
}

.cm-matchhighlight {
  background: #7778;
  border-radius: 5px;

}

.cm-s-monokai .CodeMirror-matchingbracket {
  text-decoration: underline;
  text-decoration-color: white;
  color: #f66 !important;
}

ul.CodeMirror-hints.monokai {
  background: linear-gradient(to left, #1cc7, #c1c7);
  overflow: hidden;
}
ul.CodeMirror-hints.monokai > li {
  border-bottom: 1px solid #ccc;
  color: #0f0d;
  font-size: 16px;
}



.CodeMirror-hint-active {
  background: linear-gradient(#5557, #2227, #5557)!important;
}
